/* Configuraci칩n General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #cccccc;
    color: #fff;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
}

/* Navegaci칩n */
nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Contenedor Principal (Flexbox para las 2 columnas) */
.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}

.main-content {
    flex: 2; /* Toma m치s espacio */
}

article {
    margin-bottom: 40px;
}

article h2 {
    margin-bottom: 5px;
}

.date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

/* Barra Lateral (Aside) */
aside {
    flex: 1; /* Toma menos espacio */
}

.aside-box {
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
}

aside h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

aside ul {
    margin-left: 20px;
}

/* Pie de p치gina */
footer {
    background-color: #333;
    color: rgb(233, 22, 22);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}